<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
     
    <title>Ieeja</title>
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
        <h2 class="login-header">Ieeja reģistrētiem lietotajiem</h2>
        <form class="login-container" method="POST">
          <input type="text" placeholder="Lietotājs" name="Login" required></p>
          <input type="password" placeholder="Parole" name="Password" required></p>
          <p><input type="submit" value="Ieeja"></p>
          <p>Nēesat vēl reģistrējušies? Reģistrēties  <a href="/registration">šeit.</a></p>
        </form>
         
      </div>
</body>
</html>