<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dzivnieku nams</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="container"> 
<div class="header">
<div class="tittle-block">
<h1>Dzivnieku nams</h1>
</div>
<div class="userpic"></div>
    </div>
<div class="nav">
    <ul>

        <li><a href="/authorization">ieeja</a></li>
        </ul>
</div>
<div class="content-wrapper">
    <div class="content">
   
    </div>
   
</div>
</div>
</body>
</html>