<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dzivnieku nams</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="container"> 
<div class="header">
<div class="tittle-block">
<h1>Dzivnieku nams</h1>
</div>
<div class="userpic"></div>
    </div>
<div class="nav">
    <ul>
        <li><a href="/kontakti">Kontakti</a></li>
        <li><a href="http://www.dzd.lv/ziedot/">Ziedot</a></li>
        <li><a href="/palidziba">Atstāt atsauksmes</a></li>
        </ul>
</div>
<div class="content-wrapper">
    <div class="content">
        <h3>Kontakti</h3>
        <p>tel. numurs-+37120426330</p>
      <p>e-pasts-dzivvniekunams@inbox.lv</p>
    
            
    </div>
    <div class="sidebar">
        <h3>INFO</h3>
        <ul class="skills">  
            <li><a href="http://www.dzd.lv/par-mums/dzivnieku-drauga-fonds/">KRISTĪNES ČILVERES DZĪVNIEKU DRAUGU BIEDRĪBA</a></li>
            <li><a href="http://www.dzd.lv/par-mums/projekti/">PROJEKTI</a></li>
            <li><a href="http://www.dzd.lv/par-mums/brivpratigais-darbs/">BRĪVPRĀTĪGAIS DARBS</a></li>

            <li><a href="http://www.dzd.lv/par-mums/ka-palidzet/">KĀ PALĪDZĒT</a></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>