<!DOCTYPE html>
<html lang="lv">
  
<head>
  <title>Palīdzība</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div><h1><mark>Atsauksmes</mark></h1></div>

<div>
<form method="post">
    <input type="text" name="vards" id="vards" placeholder="Jūsu vārds un/vai e-pasta adrese"><br>
    <textarea name="title" id="title"  placeholder="Iss aprāksts"></textarea><br>
    <textarea rows="10" cols="45" name="article" id="article"  placeholder="Pilns teksts"></textarea><br>
    <input type="submit" value="Sūtit"><br> 
  <a href="/index_start">Uz sakumu</a>
</form>
</div> 
</body>
</html>