<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>Ieeja</title>
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
        <h2 class="login-header">Jaunu lietotāju reģistrācija</h2>
        <form class="login-container" method="POST">
          <p><input type="text" placeholder="Lietotājs" name="Login" required></p>
          <p><input type="password" placeholder="Parole" name="Password" required></p>
          <p><input type="password" placeholder="Parole atkārtošana" name="Password2" required></p>
          <p><input type="submit" value="reģistrācija"></p>
          <p><a href="/pass_generator">Šeit var ģenerēt parole</a></p>
        </form>
         
      </div>
</body>
</html>